In [1]:
#CAPSTONE VERRECCHIA ISABELLA - ANALISI DELLA PRECARIETA' NELLA SCUOLA

In [2]:
!pip install numpy
import numpy as np
import pandas as pd

Requirement already satisfied: numpy in c:\users\isabella\anaconda3\lib\site-packages (1.26.4)

In [3]:
#Carico il file excel con i docenti
docenti = pd.read_excel("DEF.xlsx")

In [4]:
docenti

,ANNOSCOLASTICO,ANNOSCOL2,PROVINCIA,ORDINESCUOLA,TIPOPOSTO,TIPOLOGIADOCENTE,TIPOSUPPLENZA,FASCIAETA,DOCENTIMASCHI,DOCENTIFEMMINE
0,202223,2022/2023,PESCARA,SCUOLA INFANZIA,NORMALE,Docenti a tempo indeterminato,NaN,OLTRE 54,2,264
1,202223,2022/2023,LECCO,SCUOLA INFANZIA,NORMALE,Docenti a tempo indeterminato,NaN,FINO A 34,0,11
2,202223,2022/2023,ISERNIA,SCUOLA SECONDARIA I GRADO,SOSTEGNO,Docenti a tempo indeterminato,NaN,TRA 35 E 44,1,9
3,202223,2022/2023,CROTONE,SCUOLA SECONDARIA I GRADO,SOSTEGNO,Docenti a tempo indeterminato,NaN,OLTRE 54,4,22
4,202223,2022/2023,MONZA E BRIANZA,SCUOLA SECONDARIA I GRADO,NORMALE,Docenti a tempo indeterminato,NaN,TRA 35 E 44,101,289
...,...,...,...,...,...,...,...,...,...,...
68091,201516,2015/2016,ASCOLI PICENO,SCUOLA SECONDARIA II GRADO,SOSTEGNO,Docenti Supplenti,FINO AL TERMINE,TRA 45 E 54,0,4
68092,201516,2015/2016,MANTOVA,SCUOLA SECONDARIA I GRADO,NORMALE,Docenti Supplenti,FINO AL TERMINE,OLTRE 54,1,4
68093,201516,2015/2016,ALESSANDRIA,SCUOLA PRIMARIA,SOSTEGNO,Docenti Supplenti,FINO AL TERMINE,TRA 45 E 54,0,20
68094,201516,2015/2016,NAPOLI,SCUOLA PRIMARIA,SOSTEGNO,Docenti Supplenti,FINO AL TERMINE,OLTRE 54,0,7
68095,201516,2015/2016,CUNEO,SCUOLA INFANZIA,SOSTEGNO,Docenti Supplenti,FINO AL TERMINE,OLTRE 54,0,1

In [5]:
#Creo una tabella con le sole province separate.
df_province = docenti[["PROVINCIA"]].drop_duplicates().reset_index(drop=True)

In [6]:
df_province

             PROVINCIA
0              PESCARA
1                LECCO
2              ISERNIA
3              CROTONE
4      MONZA E BRIANZA
..                 ...
103               ASTI
104          OGLIASTRA
105    MEDIO CAMPIDANO
106       OLBIA-TEMPIO
107  CARBONIA-IGLESIAS

[108 rows x 1 columns]

In [7]:
#creo i dizionari per inserire le corrispondenze
# provincia -codice provincia
# provincia -regione
#regione -area geografica

In [8]:
#CODICE PROVINCIA
province_codice = {
    "AGRIGENTO": "AG", "ALESSANDRIA": "AL", "ANCONA": "AN", "AOSTA": "AO",
    "AREZZO": "AR", "ASCOLI PICENO": "AP", "ASTI": "AT", "AVELLINO": "AV",
    "BARI": "BA", "BARLETTA-ANDRIA-TRANI": "BT", "BELLUNO": "BL", "BENEVENTO": "BN",
    "BERGAMO": "BG", "BIELLA": "BI", "BOLOGNA": "BO", "BRESCIA": "BS", "BRINDISI": "BR", 
    "CAGLIARI": "CA", "CALTANISSETTA": "CL", "CAMPOBASSO": "CB", "CARBONIA-IGLESIAS" : "CI", 
    "CASERTA": "CE", "CATANIA": "CT", "CATANZARO": "CZ",
    "CHIETI": "CH", "COMO": "CO", "COSENZA": "CS", "CREMONA": "CR",
    "CROTONE": "KR", "CUNEO": "CN", "ENNA": "EN", "FERMO": "FM",
    "FERRARA": "FE", "FIRENZE": "FI", "FOGGIA": "FG", "FORLI'-CESENA": "FC",
    "FROSINONE": "FR", "GENOVA": "GE", "GORIZIA": "GO", "GROSSETO": "GR",
    "IMPERIA": "IM", "ISERNIA": "IS", "LA SPEZIA": "SP", "L'AQUILA": "AQ",
    "LATINA": "LT", "LECCE": "LE", "LECCO": "LC", "LIVORNO": "LI",
    "LODI": "LO", "LUCCA": "LU", "MACERATA": "MC", "MANTOVA": "MN",
    "MASSA-CARRARA": "MS", "MATERA": "MT", "MEDIO CAMPIDANO" : "VS", "MESSINA": "ME", "MILANO": "MI",
    "MODENA": "MO", "MONZA E BRIANZA": "MB", "NAPOLI": "NA", "NOVARA": "NO",
    "NUORO": "NU", "OGLIASTRA" : "OG", "OLBIA-TEMPIO" :"OT", "ORISTANO": "OR", "PADOVA": "PD", "PALERMO": "PA",
    "PARMA": "PR", "PAVIA": "PV", "PERUGIA": "PG", "PESARO E URBINO": "PU",
    "PESCARA": "PE", "PIACENZA": "PC", "PISA": "PI", "PISTOIA": "PT",
    "PORDENONE": "PN", "POTENZA": "PZ", "PRATO": "PO", "RAGUSA": "RG",
    "RAVENNA": "RA", "REGGIO CALABRIA": "RC", "REGGIO EMILIA": "RE", "RIETI": "RI",
    "RIMINI": "RN", "ROMA": "RM", "ROVIGO": "RO", "SALERNO": "SA",
    "SASSARI": "SS", "SAVONA": "SV", "SIENA": "SI", "SIRACUSA": "SR",
    "SONDRIO": "SO", "SUD SARDEGNA": "SU", "TARANTO": "TA", "TERAMO": "TE",
    "TERNI": "TR", "TORINO": "TO", "TRAPANI": "TP",
    "TREVISO": "TV", "TRIESTE": "TS", "UDINE": "UD", "VARESE": "VA",
    "VENEZIA": "VE", "VERBANO-CUSIO-OSSOLA": "VB", "VERCELLI": "VC",
    "VERONA": "VR", "VIBO VALENTIA": "VV", "VICENZA": "VI", "VITERBO": "VT"
}

In [9]:
#REGIONI
province_regioni = {
    "AGRIGENTO": "SICILIA", "ALESSANDRIA": "PIEMONTE", "ANCONA": "MARCHE", "AOSTA": "VALLE D'AOSTA",
    "AREZZO": "TOSCANA", "ASCOLI PICENO": "MARCHE", "ASTI": "PIEMONTE", "AVELLINO": "CAMPANIA",
    "BARI": "PUGLIA", "BARLETTA-ANDRIA-TRANI": "PUGLIA", "BELLUNO": "VENETO", "BENEVENTO": "CAMPANIA",
    "BERGAMO": "LOMBARDIA", "BIELLA": "PIEMONTE", "BOLOGNA": "EMILIA-ROMAGNA",
    "BRESCIA": "LOMBARDIA", "BRINDISI": "PUGLIA", "CAGLIARI": "SARDEGNA", "CALTANISSETTA": "SICILIA",
    "CAMPOBASSO": "MOLISE", "CARBONIA-IGLESIAS": "SARDEGNA", "CASERTA": "CAMPANIA", "CATANIA": "SICILIA", "CATANZARO": "CALABRIA",
    "CHIETI": "ABRUZZO", "COMO": "LOMBARDIA", "COSENZA": "CALABRIA", "CREMONA": "LOMBARDIA",
    "CROTONE": "CALABRIA", "CUNEO": "PIEMONTE", "ENNA": "SICILIA", "FERMO": "MARCHE",
    "FERRARA": "EMILIA-ROMAGNA", "FIRENZE": "TOSCANA", "FOGGIA": "PUGLIA", "FORLI'-CESENA": "EMILIA-ROMAGNA",
    "FROSINONE": "LAZIO", "GENOVA": "LIGURIA", "GORIZIA": "FRIULI-VENEZIA GIULIA", "GROSSETO": "TOSCANA",
    "IMPERIA": "LIGURIA", "ISERNIA": "MOLISE", "LA SPEZIA": "LIGURIA", "L'AQUILA": "ABRUZZO",
    "LATINA": "LAZIO", "LECCE": "PUGLIA", "LECCO": "LOMBARDIA", "LIVORNO": "TOSCANA",
    "LODI": "LOMBARDIA", "LUCCA": "TOSCANA", "MACERATA": "MARCHE", "MANTOVA": "LOMBARDIA",
    "MASSA-CARRARA": "TOSCANA", "MATERA": "BASILICATA", "MEDIO CAMPIDANO" :"SARDEGNA", "MESSINA": "SICILIA", "MILANO": "LOMBARDIA",
    "MODENA": "EMILIA-ROMAGNA", "MONZA E BRIANZA": "LOMBARDIA", "NAPOLI": "CAMPANIA", "NOVARA": "PIEMONTE",
    "NUORO": "SARDEGNA", "OGLIASTRA" : "SARDEGNA", "OLBIA-TEMPIO" : "SARDEGNA", "ORISTANO": "SARDEGNA", "PADOVA": "VENETO", "PALERMO": "SICILIA",
    "PARMA": "EMILIA-ROMAGNA", "PAVIA": "LOMBARDIA", "PERUGIA": "UMBRIA", "PESARO E URBINO": "MARCHE",
    "PESCARA": "ABRUZZO", "PIACENZA": "EMILIA-ROMAGNA", "PISA": "TOSCANA", "PISTOIA": "TOSCANA",
    "PORDENONE": "FRIULI-VENEZIA GIULIA", "POTENZA": "BASILICATA", "PRATO": "TOSCANA", "RAGUSA": "SICILIA",
    "RAVENNA": "EMILIA-ROMAGNA", "REGGIO CALABRIA": "CALABRIA", "REGGIO EMILIA": "EMILIA-ROMAGNA", "RIETI": "LAZIO",
    "RIMINI": "EMILIA-ROMAGNA", "ROMA": "LAZIO", "ROVIGO": "VENETO", "SALERNO": "CAMPANIA",
    "SASSARI": "SARDEGNA", "SAVONA": "LIGURIA", "SIENA": "TOSCANA", "SIRACUSA": "SICILIA",
    "SONDRIO": "LOMBARDIA", "SUD SARDEGNA": "SARDEGNA", "TARANTO": "PUGLIA", "TERAMO": "ABRUZZO",
    "TERNI": "UMBRIA", "TORINO": "PIEMONTE", "TRAPANI": "SICILIA",
    "TREVISO": "VENETO", "TRIESTE": "FRIULI-VENEZIA GIULIA", "UDINE": "FRIULI-VENEZIA GIULIA", "VARESE": "LOMBARDIA",
    "VENEZIA": "VENETO", "VERBANO-CUSIO-OSSOLA": "PIEMONTE", "VERCELLI": "PIEMONTE",
    "VERONA": "VENETO", "VIBO VALENTIA": "CALABRIA", "VICENZA": "VENETO", "VITERBO": "LAZIO"
}

In [10]:
#AREE GEOGRAFICHE
regione_area = {
    "PIEMONTE": "NORD",
    "VALLE D'AOSTA": "NORD",
    "LOMBARDIA": "NORD",
    "LIGURIA": "NORD",
    "VENETO": "NORD",
    "TRENTINO-ALTO ADIGE": "NORD",
    "FRIULI-VENEZIA GIULIA": "NORD",
    "EMILIA-ROMAGNA": "NORD",
    "TOSCANA": "CENTRO",
    "UMBRIA": "CENTRO",
    "MARCHE": "CENTRO",
    "LAZIO": "CENTRO",
    "ABRUZZO": "SUD",
    "MOLISE": "SUD",
    "CAMPANIA": "SUD",
    "PUGLIA": "SUD",
    "BASILICATA": "SUD",
    "CALABRIA": "SUD",
    "SICILIA": "ISOLE",
    "SARDEGNA": "ISOLE"
}

In [11]:
#Assegno tutti i valori trovati nella tabella delle province (dati geografici)
df_province["CODICEPROVINCIA"] = df_province["PROVINCIA"].map(province_codice)
df_province["REGIONE"] = df_province["PROVINCIA"].map(province_regioni)
df_province["AREAGEOGRAFICA"] = df_province["REGIONE"].map(regione_area)

In [12]:
df_province

             PROVINCIA CODICEPROVINCIA    REGIONE AREAGEOGRAFICA
0              PESCARA              PE    ABRUZZO            SUD
1                LECCO              LC  LOMBARDIA           NORD
2              ISERNIA              IS     MOLISE            SUD
3              CROTONE              KR   CALABRIA            SUD
4      MONZA E BRIANZA              MB  LOMBARDIA           NORD
..                 ...             ...        ...            ...
103               ASTI              AT   PIEMONTE           NORD
104          OGLIASTRA              OG   SARDEGNA          ISOLE
105    MEDIO CAMPIDANO              VS   SARDEGNA          ISOLE
106       OLBIA-TEMPIO              OT   SARDEGNA          ISOLE
107  CARBONIA-IGLESIAS              CI   SARDEGNA          ISOLE

[108 rows x 4 columns]

In [13]:
df_province.isnull().sum()

PROVINCIA          0
CODICEPROVINCIA    0
REGIONE            0
AREAGEOGRAFICA     0
dtype: int64

In [14]:
#Sostituisco la colonna "provincia" nella tab principale con "codice provincia"

docenti["CODICEPROVINCIA"] = docenti["PROVINCIA"].map(province_codice)
docenti.drop(columns=["PROVINCIA"], inplace=True)

In [15]:
docenti

,ANNOSCOLASTICO,ANNOSCOL2,ORDINESCUOLA,TIPOPOSTO,TIPOLOGIADOCENTE,TIPOSUPPLENZA,FASCIAETA,DOCENTIMASCHI,DOCENTIFEMMINE,CODICEPROVINCIA
0,202223,2022/2023,SCUOLA INFANZIA,NORMALE,Docenti a tempo indeterminato,NaN,OLTRE 54,2,264,PE
1,202223,2022/2023,SCUOLA INFANZIA,NORMALE,Docenti a tempo indeterminato,NaN,FINO A 34,0,11,LC
2,202223,2022/2023,SCUOLA SECONDARIA I GRADO,SOSTEGNO,Docenti a tempo indeterminato,NaN,TRA 35 E 44,1,9,IS
3,202223,2022/2023,SCUOLA SECONDARIA I GRADO,SOSTEGNO,Docenti a tempo indeterminato,NaN,OLTRE 54,4,22,KR
4,202223,2022/2023,SCUOLA SECONDARIA I GRADO,NORMALE,Docenti a tempo indeterminato,NaN,TRA 35 E 44,101,289,MB
...,...,...,...,...,...,...,...,...,...,...
68091,201516,2015/2016,SCUOLA SECONDARIA II GRADO,SOSTEGNO,Docenti Supplenti,FINO AL TERMINE,TRA 45 E 54,0,4,AP
68092,201516,2015/2016,SCUOLA SECONDARIA I GRADO,NORMALE,Docenti Supplenti,FINO AL TERMINE,OLTRE 54,1,4,MN
68093,201516,2015/2016,SCUOLA PRIMARIA,SOSTEGNO,Docenti Supplenti,FINO AL TERMINE,TRA 45 E 54,0,20,AL
68094,201516,2015/2016,SCUOLA PRIMARIA,SOSTEGNO,Docenti Supplenti,FINO AL TERMINE,OLTRE 54,0,7,NA
68095,201516,2015/2016,SCUOLA INFANZIA,SOSTEGNO,Docenti Supplenti,FINO AL TERMINE,OLTRE 54,0,1,CN

In [16]:
#Salvo le due tabelle in due file excel separati.

docenti.to_excel("docenti.xlsx", index=False)
df_province.to_excel("province.xlsx", index=False)